---
layout: archive
location: "Le Croque Bedaine"
---

<b>Disclaimer</b>: The following is a fairly detailed extract of the questions 
I developed for the PubQuiz at {{ page.location }} on {{ page.date | date: "%B %d, %Y" }}. 
While being open to everyone, I am that the audience was mostly coming from an academic background 
(indeed a significant percentage of the audience is undergoing/has undergone a period of doctoral studies), 
so if you feel that some of the following questions are particularly specific or niche, that is on purpose. 
<br/>
Please don't be discouraged by the apparent difficulty of several questions, 
I usually provide plenty of hints and suggestions during any pubquiz session. 

{{ content }}
